body
{
	font-size:90%;
	width:100%;
}
#logo img
{
	height:85px;	
	object-fit: cover;
	margin-bottom:20px;
}
header
{
	min-width:100vw;
	margin:0px;
	margin-right:0px;
}
header div
{
	flex-direction: column;
	height:auto;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
}
header logo img
{
	max-width:100%;
}
header nav, header nav ul
{
	margin:0px;
	padding:0px;
	width:100%;
	height:30px;
}
header nav li
{
	width:100%;
	margin:0px;
	padding:0px;
	height:30px;
	border-bottom: 3px solid #F2F2F2;
}

header nav li a
{
	height:auto;
	width:100%;
	margin:0px;
	padding:0px;
	display:inline;
}

header nav li:hover
{
	border-top:none;
	border-bottom:3px solid #0065FC;
	color:#0065FC;
}

header nav li a:hover
{
	border:none;
}

h1
{

	width:100%;
	margin:auto;
	margin-top:20px;
	margin-bottom:2%;
	margin-left:5.5%;
	font-size:179%;

}
header p
{
	width:89%;
	margin:auto;
}
header
{
	margin-bottom: 20px;
	width:95%;
}

/*
PARTIE RECHERCHE
*/

#champ_recherche i
{
	width:51px;
	height:51px;
	font-size:20px;
	border-radius:15px 0 0 15px;
}
#champ_recherche form button
{
	width:52px;
	display:flex;
	border-radius:15px;
	justify-content: center;
}
#champ_recherche form button i
{
	display:flex;
	background-color: #0065FC;
}

input
{
	width:230px;
	height:51px;
}

#champ_recherche span
{
	width:0px;
	display:none;
}
#champ_recherche 
{

	width:334px;
	margin-left:10.5%	
}
#filtre
{
	max-width:93%;
	margin-left:5.5%;
	align-items: flex-start;
	flex-wrap:wrap;
}
#filtre p
{
	width:95%;
}
#filtre button i
{
	min-width:50px;
	height:50px;
	margin:0px;
	padding:0px;
	margin-right:15px;
	border-radius:100%;
}
#filtre button
{
	margin-top:10px;
	margin-left:10px;
	padding-right:10px;
	height:50px;
}
#information
{
	margin-top:20px;
}
#information i
{
	min-width:15px;
	height:15px;
	margin-right: 5px;
}
/*
PARTIE HÉBERGEMENT
*/

#hebergement section:nth-child(2)
{
	order:-1;
}
#liste_hebergement, #populaire
{
	border-radius:0px;
}
#liste_hebergement
{
	flex-direction: column;
	background-color:white;
	width:100vw;
	margin:0px;
}
#liste_hebergement a
{
	height:200px;
	width:100%;
}
#liste_hebergement img
{
	height:60%;
	margin:1%;
	margin-bottom:0px;
}

#populaire
{
	width:100%;
	margin:0px;
	padding-bottom:20px;
}
#populaire h2
{
	width:88%;
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
}

#populaire h3
{
	margin:0px;
	margin-top:15px;
}

#populaire a
{
	height:145px;
	width:88%;
	margin:auto;
}

#liste_hebergement a
{
	height:200px;
	width:88%;
	margin:auto;
	margin-top:10px;
	margin-bottom: 2%;
}
#liste_hebergement h2
{
	width:88%;
	margin:auto;
	margin-top:20px;;
}
#liste_hebergement h3
{
	width:100%;
	margin:auto;
	margin-top:10px;
}
#liste_hebergement p
{
	margin:0px;
}

#afficher_plus a
{
	width:100%;
	margin-left:5.5%;

}
.petite_activite,.activite_grand
{
	width:88%;
	margin:auto;
	margin-top:10px;
}
#activite h3
{
	width:80%;
}
.petite_activite,.activite_grand
{
	height:190px;
}
/*
PARTIE FOOTER
*/
footer
{
	padding-top:5%;
	margin-top:25px;
}

footer nav
{
	flex-direction:column;
}
.menu h2
{
	margin:0px;
}
.menu ul li
{
	margin:0px;
	margin-bottom:5px;
}
.menu
{
	margin-bottom:5px;
	height:auto;
}

