/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* --main-color: white; */
    --main-color: #0065fc;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

i:is(.fa-star, .fa-solid):not(.neutral-star, .fa-location-dot, .fa-magnifying-glass) {
    color: var(--main-color);
}

body {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    max-width: 1440px;
}

body {
    padding: 0 50px;
}
@media (max-width:767.98px){
    body{
        padding:0;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

section:not(.filters, .search) {
    padding: 30px;
}
@media (max-width: 767px) {
    section:not(.filters, .search) {
        padding: 20px;
    }

}

.section-title {
    margin: 0;
    font-size: 22px;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
:is(button, .card, figure):hover {
    cursor: pointer;
}
.card-subtitle {
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    gap: 80px;
    height: 100%;
}

header nav a {
    position: relative;
    display: flex;
    align-items: center;
}

@media(min-width:768px) {
    a:hover::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        background-color: var(--main-color);
        width: 100%;
        height: 2px
    }
}

@media (max-width: 767.98px) {
    header {
        margin-top: 30px;
        height: 115px;
        flex-direction: column;
    }

    header nav {
        width: 100%;
        gap: 0;
    }

    header nav a {
        margin-top: 30px;
        width: 50%;
        max-height: 35px;
        justify-content: center;
        border-bottom: 2px solid #F2F2F2;
    }

    header nav a:hover {
        border-bottom-color: #0065fc;
    }
}

/****** Recherche ***********/
.search {
    width: 100%;
}

.search h1 {
    margin-bottom: 8px;
    font-size: 1.375rem;
}

form {
    margin: 35px 0;
    height: 49px;
    width: fit-content;
    display: flex;
    position: relative;
}

form label {
    height: 100%;
    align-items: center;
    background-color: #F2F2F2;
    width: 50px;
    display: block;
    display: flex;
    justify-content: center;
    border-radius: 15px 0 0 15px;
}

form input {
    width: 195px;
    height: 100%;
    border: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    outline: none;
    padding-left: 24px;
    padding-right: 10px;
    flex: 1;
}

form input,
form input::placeholder {
    color: black;
    font-weight: bold;
    font-size: 1.125rem;
}

form button {
    background-color: var(--main-color);
    color: white;
    outline: none;
    border: none;
    font-size: 1.125rem;
}

form .search-tablet {
    padding: 14px 16px;
    border-radius: 0 15px 15px 0;
    font-weight: bold;
}

form .search-mobile {
    border-radius: 15px;
    width: 49px;
    height: 49px;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

}

@media (max-width: 767.98px) {
    .search {
        padding: 0 20px
    }

    form {
        width: 100%;
    }

    .search-tablet {
        display: none;
        visibility: hidden;
    }
}

@media (min-width: 767.98px) {
    .search-mobile {
        display: none;
        visibility: hidden;
    }
}

/****** Filters ***********/
.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    font-size: 1rem;
}

.filters .filterBtn {
    display: flex;
    align-items: center;
    padding: 15px 19px;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    background-color: #fff;
    font-weight: bold;
    font-size: 1.0625rem;
}

.filters .filterBtn:hover {
    background-color: var(--filter-bg-color);
}

.filters p {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 400;
    width: 100%;
}

.filters p i {
    display: block;
    width: 24px;
    height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    font-size: 12px;
}

@media(max-width:1024px) {
    .filters .filterBtn {
        font-size: 1rem;
    }

    .filters h3 {
        width: 100%;
    }
}

@media (max-width:767.98px) {
    .filters {
        gap: 10px;
    }

    .filters h3 {
        margin-bottom: 10px;
    }

    .filters .filterBtn {
        font-size: 0.875rem;
        width: 162px;
    }

    .filters .filterBtn i {
        font-size: 22px;
    }

    .filters p {
        margin-top: 25px;
    }

}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
}
@media (max-width:767.98px){
    .hebergements-and-populaires {
        margin-top: 0;
    }
    .hebergements-and-populaires section {
        border-radius: 0px;
    }
    .hebergements-and-populaires .hebergements {
        background-color: white;
    }
    
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    padding: 30px;
}

.hebergements .section-title {
    width: 100%;
}
.hebergements a{
    display:block;
    width: 30.828%;
    height:207px;
}
.hebergements .card {
    width: 100%;
    height:207px;
    max-height: 207px;
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    padding-bottom: 15px;
}

.hebergements .card img {
    height: 57.87%;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.hebergements .card .card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.hebergements .card .card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 10px;
}

.hebergements .card .card-content .card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hebergements>p {
    font-weight: bold;
    font-size: 1.125rem;
    width: 100%;
}

@media(max-width:1024px) {
    .hebergements a{
        width: 31.02%;

    }
}

@media(max-width:767.98px) {
    .hebergements {
        order: 2;
        row-gap: 15px;
        margin-top: 15px;
    }

    .hebergements a {
        width: 100%;

    }
}


/****** Populaires ***********/
.populaires {
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    row-gap: 20px;

}

.populaire-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.populaires-cards .card {
    display: flex;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

@media(max-width:767.98px) {
    .populaires {
        order: 1;
    }

    .populaires-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        row-gap: 20px;
    }

    .populaires-title {
        margin-bottom: 15px;
    }

    .populaires-cards img {
        width: 36.395%
    }
}

@media (max-width: 1024px) {
    .populaires {
        width: 100%;
        margin-top: 30px;
    }
}

/****** Activity ***********/
.activity {
    margin: 35px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activity h2 {
    width: 100%;
    margin-bottom: 30px;
}
.activity a{
    width: 23.204%;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}


.activity figure img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    height: 380px;
}

.activity figure figcaption {
    padding: 20px;
    font-size: 1rem;
    font-weight: bold;
}
@media (max-width: 1024px) {
    .activity a{
        width: 22.338%;
    }
    .activity figure img {
        height: 200px;
    }
    .activity figure figcaption {
        padding: 16px 19px;
    }

}
@media (max-width: 767.98px) {
    .activity {
        gap: 15px;
    }
    .activity a{
        width: 100%;

    }
    .activity figure img {
        height: 141px;
    }
}

/****** Footer ***********/
footer {
    padding: 20px 0;
    display: flex;
    background-color: #F2F2F2;
}
footer div{
    width: 33.333%;
    padding: 0 20px;
}
footer div h3{
    margin-bottom: 15px;
    font-size: 1.125rem;
}
footer div ul{
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
@media (max-width: 767.98px){
    footer{
        flex-direction: column;
        gap: 50px;
    }
    footer div{
        width: 100%;

    }
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .populaires-cards a {
        width: 100%;
    }


    /* ... */
}